* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #000;
	font-size: 16px;
	font-family: "Verdana", sans-serif;
	color: #fff;
	text-align: center;
}

h1 {
	font-size: 3.125rem;
	font-weight: normal;
	margin: 3rem auto;
}

a {
	color: aquamarine;
}

p video {
	margin: 1.5rem 0;
}

h2 {
	margin: 1.75rem 0;
	font-size: 2.625rem;
	font-weight: 300;
}

p {
	color: gray;
	font-size: 1.3125rem;
}

p img {
	margin: 1.2rem 0;
	width: 40%;
}